mixin page-ideas()
    main.ideas
        .scroll-indicator
            .scroll-indicator__caret
        .ideas__wrapper
            h1.ideas__title ИДЕИ ДЛЯ ЛИФТОВ
            a(href="#").ideas__item
                .ideas__item__wrapper
                    .ideas__item__wrapper__canvas
                        .ideas__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img1.jpg")
                            .ideas__item__wrapper__canvas__img__light
                .ideas__item__title ИДЕЯ 1
                .ideas__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").ideas__item
                .ideas__item__wrapper
                    .ideas__item__wrapper__canvas
                        .ideas__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img2.jpg")
                            .ideas__item__wrapper__canvas__img__light
                .ideas__item__title ИДЕЯ 2
                .ideas__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").ideas__item
                .ideas__item__wrapper
                    .ideas__item__wrapper__canvas
                        .ideas__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img1.jpg")
                            .ideas__item__wrapper__canvas__img__light
                .ideas__item__title ИДЕЯ 3
                .ideas__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").ideas__item
                .ideas__item__wrapper
                    .ideas__item__wrapper__canvas
                        .ideas__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img2.jpg")
                            .ideas__item__wrapper__canvas__img__light
                .ideas__item__title ИДЕЯ 4
                .ideas__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").ideas__item
                .ideas__item__wrapper
                    .ideas__item__wrapper__canvas
                        .ideas__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img2.jpg")
                            .ideas__item__wrapper__canvas__img__light
                .ideas__item__title ИДЕЯ 5
                .ideas__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").ideas__item
                .ideas__item__wrapper
                    .ideas__item__wrapper__canvas
                        .ideas__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img2.jpg")
                            .ideas__item__wrapper__canvas__img__light
                .ideas__item__title ИДЕЯ 6
                .ideas__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.