doctype html
html(lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/modals/modals.pug
    include ../components/loadSpinner/loadSpinner.pug

    include ../components/page-g-line/page-g-line.pug
    head
        +head(head.defaults)
    body
        |%=symbols=%
        .page__wrapper
            +page-g-line()
            +header()
            +footer()
            +modals()
            +loadSpinner()
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
