mixin page-g-line()
    main.g-line
        .g-line__s1 
            .g-line__s1__wrapper
                .g-line__s1__title 
                    p GLASS<span>LINE</span>
                .g-line__s1__desc Панорамные лифты серии Glass Line - это отдельный продукт, выходящий за рамки вертикального транспорта как такового. Панорамные лифты призваны подчеркнуть современную архитектуру, сделать здание более легким и изящным. Зачастую эстетическая составляющая стеклянных лифтов  выходит на первый план и является приоритетной.
                a(href="#").g-line__s1__link.guid__btn--t1 
                    span НАШИ РАБОТЫ
                .g-line__s1__arrow
        .g-line__s2
            .g-line__s2__img(data-background-image="static/img/content/page-g-line/s2__img.jpg")
            .g-line__s2__wrapper
                .g-line__s2__title Элегантный стеклянный лифт
                .g-line__s2__desc — это то, о чём мечтает каждый, но далеко не каждый может себе это позволить
                .g-line__s2__text Панорамный лифт серии Glass Line, установленный в загородном доме, скажет о своем владельце не меньше, чем  швейцарские часы ограниченной серии на руке или автомобиль лимитированного выпуска в гараже. 
        .g-line__s3
            .g-line__s3__wrapper
                .g-line__s3__bg1
                .g-line__s3__img(data-background-image="static/img/content/page-g-line/s3__img.jpg")
                .g-line__s3__bg2
        .g-line__s4
            .g-line__s4__wrapper 
                .g-line__s4__text Стоимость такого лифта складывается из 2-х составляющих: самого лифта и панорамной металлокаркасной шахты (стоимость которой может и превосходить стоимость лифта). Огромное значение в том, как в итоге, будет выглядеть Ваш панорамный лифт, имеют дизайн металлокаркаса шахты и способ крепления стекла.
                a(href="").g-line__s4__link.guid__btn--t1 ОТПРАВИТЬ ЗАПРОС
            .g-line__s4__img(data-background-image="static/img/content/page-g-line/s4__img.jpg")
        .g-line__s5
            .g-line__s5__argument.arg_1
                .g-line__s5__argument__number 01
                .g-line__s5__argument__title Металлокаркас шахты панорамного лифта может быть изготовлен сварным способом
                .g-line__s5__argument__text При этом все сварные соединения зачищаются, шахта шпаклюется и грунтуется, а затем окрашивается в цвет по выбору Заказчика. Стекло в данном случае принято крепить таким образом, чтобы весь каркас шахты был расположен за ним. Этот способ делает шахту легкой и ажурной, играющей в лучах света, как ювелирное украшение.
            .g-line__s5__argument.arg_2
                .g-line__s5__argument__number 02
                .g-line__s5__argument__title Второй вариант состоит в том, что несущий каркас проектируется и выполняется сборным при помощи болтовых соединений
                .g-line__s5__argument__text Затем каркас облицовывается нержавеющей сталью, а стекло в этом случае крепится рамным способом и располагается между стоек каркаса.
            .g-line__s5__argument.arg_3
                .g-line__s5__argument__number 03
                .g-line__s5__argument__title третий вариант - это заказ шахты из алюминиевого профиля на заводе-изготовителе лифта
                .g-line__s5__argument__text Это самый простой и бюджетный вариант, однако следует понимать, что в нем не учитываются индивидуальные особенности Вашего проекта.
        