mixin page-basic-line()
    main.basic-line
        .basic-line__s1 
            .basic-line__s1__wrapper
                .basic-line__s1__title 
                    p BASIC<span>LINE</span>
                .basic-line__s1__desc Basic Line - это коттеджные лифты MaisonLift, производимые нашим давним партнёром, компанией Kleemann (Германия/Греция). Само название Basic Line (основная, базовая линейка) говорит о том, что воможностей, которые она предоставляет, хватит для большинства клиентов. При этом цены на коттеджные лифты этой серии начинаются от 25 000 евро (лифт с грузоподъёмностью 225 кг, 2 остановки, без стоимости монтажа). 
                a(href="#").basic-line__s1__link.guid__btn--t1 
                    span НАШИ РАБОТЫ
                .basic-line__s1__arrow
        .basic-line__s2
            .basic-line__s2__img(data-background-image="static/img/content/page-basic-line/s2__img.jpg")
            .basic-line__s2__wrapper
                .basic-line__s2__title Более 70% таких встреч заканчиваются подписанием договора, и Заказчики остаются довольны правильным выбором
                .basic-line__s2__text Стоимость коттеджного лифта для трехэтажного загородного дома стартует от 25 000 евро (без учета работ по его установке). Это сопоставимо с ценой итальянского кухонного гарнитура или стильной лестницы из дерева или стекла. 
                a(href="#").basic-line__s2__link.guid__btn--t1 
                    span НАШИ РАБОТЫ
        .basic-line__s3
            .basic-line__s3__bg1
            .basic-line__s3__bg2
            .basic-line__s3__wrapper
                .basic-line__s3__title Надёжность И Бесшумность
                .basic-line__s3__text Безусловно, это самое важное. Любой лифт, который установлен в частном доме, должен быть произведен проверенным заводом-изготовителем. Независимо от типа, лифт обладает источником шума: у электрических лифтов это лебедка, которая расположена в верхней части шахты, а у гидравлических – гидроагрегат, который всегда устанавливается вне шахты.
                a(href="#").basic-line__s3__link.guid__btn--t1 
                    span ОТПРАВИТЬ ЗАПРОС
            .basic-line__s3__img(data-background-image="static/img/content/page-basic-line/s3__img.jpg")
        .basic-line__s4
            .basic-line__s4__wrapper
                .basic-line__s4__title Цены на лифты MAISON LIFT (KLeemann)
                .basic-line__s4__table-wrapper
                    table.basic-line__s4__table
                        thead 
                            tr 
                                td ПАРАМЕТРЫ:
                        tbody
                            tr
                                td КОЛИЧЕСТВО ОСТАНОВОК*:
                                td 2
                                td 3
                                td 4
                            tr
                                td ВЫСОТА ПОДЪЕМА**:
                                td 3,5
                                td 7
                                td 10,5
                        thead
                            tr
                                td ЦЕНА € ***:
                        tbody
                            tr 
                                td ГРУЗОПОДЪЕМНОСТЬ 180 КГ:
                                td 25 490
                                td 26 990
                                td 28 490
                            tr 
                                td ГРУЗОПОДЪЕМНОСТЬ 225 КГ:
                                td 25 990
                                td 27 490
                                td 28 990
                            tr 
                                td ГРУЗОПОДЪЕМНОСТЬ 300 КГ:
                                td 27 490
                                td 29 490
                                td 29 990
                            tr 
                                td ГРУЗОПОДЪЕМНОСТЬ 375 КГ:
                                td 27 990
                                td 29 990
                                td 30 990
                            tr 
                                td ГРУЗОПОДЪЕМНОСТЬ 450 КГ:
                                td 28 990
                                td 30 490
                                td 31 990
                .basic-line__s4__legend
                    .basic-line__s4__legend__item *Количество остановок равно количеству этажей, на которых останавливается лифт
                    .basic-line__s4__legend__item **Высота подъема - это высота от пола нижнего этажа до пола верхнего этажа <span>(не путать с общей высотой шахты)</span>
                    .basic-line__s4__legend__item ***Стоимость включает изготовление лифта, таможенныеплатежи и пошлины, доставку на объект в пределах 50 км от МКАД, разгрузку; монтаж и пуско-наладочные работы не входят в указанную стоимость и рассчитываются отдельно