mixin loadSpinner()
    .loadSpinner.is-show
        .loadSpinner__wrapper
            .loadSpinner__icon
                .loadSpinner__icon__el1
                .loadSpinner__icon__el2 
                .loadSpinner__icon__el3