mixin page-contacts()
    main.contacts
        .contacts__map#contacts__map
        .contacts__body
            .contacts__body__title.c-anim-1 КОНТАКТЫ:
            .contacts__body__caption.c-anim-2 Мы готовы встретиться с Вами в удобном для Вас месте, при этом<br> на качестве встречи это не отразится. Все демонстрационные матераилы в наличии у каждого менеджера.
            .contacts__body__adress
                .contacts__body__adress__title.c-anim-3 Если же Вам удобней подъехать к нам, то мы находимся по адресу:
                .contacts__body__adress__item.c-anim-4
                    .contacts__body__adress__item__caption Адрес:
                    .contacts__body__adress__item__text 115419, Москва, ул. Шаболовка, 34, стр. 3
                .contacts__body__adress__item.c-anim-5
                    .contacts__body__adress__item__caption Телефон:
                    a(href="tel:+74951606216").contacts__body__adress__item__text +7(495)16-062-16
                .contacts__body__adress__item.c-anim-5
                    .contacts__body__adress__item__caption E-mail:
                    a(href="mailto:lifteuropa@gmail.com").contacts__body__adress__item__text lifteuropa@gmail.com
            button.contacts__body__send-request.guid__btn--t2.c-anim-6
                span ОТПРАВИТЬ ЗАПРОС
