mixin page-404()
    main.p404
        a(href="/").p404__logo-dark
                img(src="static/img/general/icons/header__nav__logo__img--dark.svg", alt="Логотип Тёмный", width="160px").p404__logo-dark__img
        .p404__pacman
            .p404__pacman__dark
                .p404__pacman__dark__top
                .p404__pacman__dark__bot
            .p404__pacman__404
                .p404__pacman__404__bot
                    .p404__pacman__404__bot__text 
                        span 4
                        span 0
                        span 4
            .p404__pacman__yellow
                .p404__pacman__yellow__top
                .p404__pacman__yellow__bot
        .p404__text 
            .p404__text__t3 
                span 4
                span 0
                span 4
            .p404__text__t1 Извините, но страницу, которую вы ищите,<br> съели, ну или почти съели! 
            .p404__text__t2 Вернитесь <a href="/">на главную</a><br> или выберите раздел меню