mixin page-tech-doc()
    main.tech-doc 
        .tech-doc__bg
        h1.tech-doc__title 
            span ТЕХНИЧЕСКАЯ 
            span ДОКУМЕНТАЦИЯ
        h2.tech-doc__caption Уважаемые Заказчики, с помощью этого раздела Вы сможете правильно запроектировать шахту и подобрать устраивающие Вас размеры.
        p.tech-doc__text Вы можете скачать каталоги, в которых указаны габариты и нагрузки на шахту.
        .tech-doc__item 
            p.tech-doc__item__caption Гидравлический лифт для коттеджа
            h2.tech-doc__item__title Maison<span>Lift</span>
            .tech-doc__item__files-wrapper
                a(href="#" download).tech-doc__item__file
                    .tech-doc__item__file__icon
                    .tech-doc__item__file__title Catalog_MaisonLIFT.pdf
        .tech-doc__item 
            p.tech-doc__item__caption Электрический лифт для коттеджа
            h2.tech-doc__item__title ATLAS<span>MINI</span>
            .tech-doc__item__files-wrapper
                a(href="#" download).tech-doc__item__file
                    .tech-doc__item__file__icon
                    .tech-doc__item__file__title Catalog_AtlasMINI.pdf
        .tech-doc__item 
            p.tech-doc__item__caption Типовое строительное задание на шахту для гидравлического лифта
            h2.tech-doc__item__title Maison<span>Lift</span>
            .tech-doc__item__files-wrapper
                a(href="#" download).tech-doc__item__file
                    .tech-doc__item__file__icon
                    .tech-doc__item__file__title LIST_ONE.pdf
                a(href="#" download).tech-doc__item__file
                    .tech-doc__item__file__icon
                    .tech-doc__item__file__title LIST_TWO.pdf
                a(href="#" download).tech-doc__item__file
                    .tech-doc__item__file__icon
                    .tech-doc__item__file__title LIST_THREE.pdf