.tech-doc {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    @include media(
        (
            padding: (
                all: 209px 0px 240px,
                1440: 100px 45px 100px,
                768: 100px 25px 100px
            )
        )
    );
    &__bg {
        display: block;
        width: 591px;
        height: 1391px;
        background-image: url(../img/content/page-tech-doc/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        right: 190px;
        top: 130px;
        z-index: -1;
        @include media(
            (
                right: (
                    768: auto
                ),
                left: (
                    768: 100%
                ),
                transform: (
                    768: translateX(-50%)
                )
            )
        );
    }
    &__title {
        font-weight: bold;
        letter-spacing: 0.3px;
        color: $sand;
        @include bebasik();
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include media(
            (
                font-size: (
                    all: 80px,
                    768: 25px
                ),
                line-height: (
                    all: 0.94,
                    768: 1.2
                ),
                align-items: (
                    768: center
                ),
                margin-bottom: (
                    all: 30px,
                    768: 17px
                )
            )
        );
        span {
        }
    }
    &__caption {
        @include bebasik();
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
        width: 100%;
        max-width: 624px;
        @include media(
            (
                font-size: (
                    all: 24px,
                    768: 15px
                ),
                line-height: (
                    all: 1.42,
                    768: 1.6
                ),
                letter-spacing: (
                    all: 0.1px,
                    768: 0.6px
                ),
                text-align: (
                    768: center
                )
            )
        );
    }
    &__text {
        font-weight: 500;
        letter-spacing: 0.1px;
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        @include media(
            (
                font-size: (
                    all: 16px,
                    768: 14px
                ),
                text-align: (
                    768: center
                ),
                margin-bottom: (
                    all: 64px,
                    768: 39px
                ),
                padding: (
                    768: 0px 20px
                ),
                line-height: (
                    all: 1.75,
                    768: 2
                )
            )
        );
    }
    &__item {
        width: 100%;
        max-width: 744px;
        border: solid 1px $sand;
        box-sizing: border-box;

        margin: 0px 0px 30px 0px;
        // transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
        @include cursorBlack();
        @include media(
            (
                padding: (
                    all: 37px 40px 0px 40px,
                    768: 20px 20px 0px 20px
                ),
                box-shadow: (
                    768: 0 0 10px 0 $sand
                ),
                background-color: (
                    768: $sand
                )
            )
        );
        &:hover {
            box-shadow: 0 0 10px 0 $sand;
            background-color: $sand;
        }
        &:hover &__caption {
            color: rgb(34, 32, 35);
        }
        &:hover &__title {
            color: rgb(34, 32, 35);
        }
        &:hover &__file__title {
            color: #222023;
        }
        &:hover &__file__icon {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="69"  viewBox="0 0 59.913 68.472"><g id="pdf" transform="translate(-0.073)"><path id="Path" d="M4.279,0H40.64L59.913,19.2V64.193a4.28,4.28,0,0,1-4.279,4.279H4.279A4.28,4.28,0,0,1,0,64.193V4.279A4.28,4.28,0,0,1,4.279,0Z" transform="translate(0.073)" fill="%23514530"/><path id="Path-2" data-name="Path" d="M19.2,19.215H4.279A4.281,4.281,0,0,1,0,14.936V0Z" transform="translate(40.728 0.043)" fill="%23977841"/><path id="Shape" d="M24.734,12.815c-.728,0-1.2-.546-1.2-1.391V1.391A1.273,1.273,0,0,1,24.779,0h4.082a1.116,1.116,0,0,1,1.067,1.232,1.116,1.116,0,0,1-1.067,1.231H25.93V6.206H28.4a1.137,1.137,0,0,1,1.149,1.215A1.156,1.156,0,0,1,28.4,8.671H25.93v2.753C25.93,12.269,25.46,12.815,24.734,12.815Zm-23.48,0A1.244,1.244,0,0,1,0,11.424V1.391A1.239,1.239,0,0,1,1.3,0H4.262A4.087,4.087,0,0,1,8.542,4.264,4.175,4.175,0,0,1,7.311,7.358,4.206,4.206,0,0,1,4.362,8.5H2.507v2.929A1.244,1.244,0,0,1,1.254,12.815ZM2.507,2.356V6.142H4.213A1.737,1.737,0,0,0,5.936,4.25,1.735,1.735,0,0,0,4.213,2.356ZM15.243,12.779H12.109a1.325,1.325,0,0,1-1.42-1.346V1.382A1.324,1.324,0,0,1,12.074,0h2.987a6.238,6.238,0,0,1,4.683,1.79A6.8,6.8,0,0,1,21.4,6.569a6.231,6.231,0,0,1-1.688,4.518A6.134,6.134,0,0,1,15.243,12.779Zm-1.859-10.3V10.3h1.822c2.12,0,3.385-1.442,3.385-3.856,0-2.521-1.3-3.967-3.565-3.967Z" transform="translate(15.073 29.982)" fill="%23fff"/></g></svg>');
        }
        &__caption {
            font-weight: bold;
            letter-spacing: 0.1px;
            // transition: color 0.5s ease-in-out;
            @include bebasik();
            @include media(
                (
                    font-size: (
                        all: 24px,
                        768: 15px
                    ),
                    color: (
                        all: #fff,
                        768: $bg-dark
                    ),
                    text-align: (
                        768: center
                    ),
                    line-height: (
                        all: 1.42,
                        768: 1.6
                    ),
                    margin-bottom: (
                        all: 15px,
                        768: 2px
                    )
                )
            );
        }
        &__title {
            letter-spacing: 0.2px;
            @include bebasik();
            // transition: color 0.5s ease-in-out;
            @include media(
                (
                    font-size: (
                        all: 50px,
                        768: 25px
                    ),
                    line-height: (
                        all: 0.68,
                        768: 1.2
                    ),
                    color: (
                        all: $sand,
                        768: $bg-dark
                    ),
                    text-align: (
                        768: center
                    ),
                    margin-bottom: (
                        all: 42px,
                        768: 29px
                    ),
                    font-weight: (
                        768: bold
                    )
                )
            );
            span {
                font-weight: bold;
            }
        }
        &__files-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @include media(
                (
                    flex-direction: (
                        768: column
                    )
                )
            );
        }
        &__file {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                @include media(
                    (
                        margin-right: (
                            all: 50px,
                            768: 0px
                        )
                    )
                );
            }
            @include media(
                (
                    flex-direction: (
                        768: column
                    ),
                    margin-bottom: (
                        all: 35px,
                        768: 21px
                    )
                )
            );
            &__icon {
                // transition: all 0.5s ease-in-out;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="69" viewBox="0 0 59.913 68.472"><g id="pdf" transform="translate(-0.073)"><path id="Path" d="M4.279,0H40.64L59.913,19.2V64.193a4.28,4.28,0,0,1-4.279,4.279H4.279A4.28,4.28,0,0,1,0,64.193V4.279A4.28,4.28,0,0,1,4.279,0Z" transform="translate(0.073)" fill="%23e4b769"/><path id="Path-2" data-name="Path" d="M19.2,19.215H4.279A4.281,4.281,0,0,1,0,14.936V0Z" transform="translate(40.728 0.043)" fill="%23977841"/><path id="Shape" d="M24.734,12.815c-.728,0-1.2-.546-1.2-1.391V1.391A1.273,1.273,0,0,1,24.779,0h4.082a1.116,1.116,0,0,1,1.067,1.232,1.116,1.116,0,0,1-1.067,1.231H25.93V6.206H28.4a1.137,1.137,0,0,1,1.149,1.215A1.156,1.156,0,0,1,28.4,8.671H25.93v2.753C25.93,12.269,25.46,12.815,24.734,12.815Zm-23.48,0A1.244,1.244,0,0,1,0,11.424V1.391A1.239,1.239,0,0,1,1.3,0H4.262A4.087,4.087,0,0,1,8.542,4.264,4.175,4.175,0,0,1,7.311,7.358,4.206,4.206,0,0,1,4.362,8.5H2.507v2.929A1.244,1.244,0,0,1,1.254,12.815ZM2.507,2.356V6.142H4.213A1.737,1.737,0,0,0,5.936,4.25,1.735,1.735,0,0,0,4.213,2.356ZM15.243,12.779H12.109a1.325,1.325,0,0,1-1.42-1.346V1.382A1.324,1.324,0,0,1,12.074,0h2.987a6.238,6.238,0,0,1,4.683,1.79A6.8,6.8,0,0,1,21.4,6.569a6.231,6.231,0,0,1-1.688,4.518A6.134,6.134,0,0,1,15.243,12.779Zm-1.859-10.3V10.3h1.822c2.12,0,3.385-1.442,3.385-3.856,0-2.521-1.3-3.967-3.565-3.967Z" transform="translate(15.073 29.982)" fill="%23fff"/></g></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                @include media(
                    (
                        width: (
                            all: 60px,
                            768: 46px
                        ),
                        height: (
                            all: 69px,
                            768: 53px
                        ),
                        margin-right: (
                            all: 21px,
                            768: 0px
                        ),
                        margin-bottom: (
                            768: 12px
                        ),
                        background-image: (
                            768:
                                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="69"  viewBox="0 0 59.913 68.472"><g id="pdf" transform="translate(-0.073)"><path id="Path" d="M4.279,0H40.64L59.913,19.2V64.193a4.28,4.28,0,0,1-4.279,4.279H4.279A4.28,4.28,0,0,1,0,64.193V4.279A4.28,4.28,0,0,1,4.279,0Z" transform="translate(0.073)" fill="%23514530"/><path id="Path-2" data-name="Path" d="M19.2,19.215H4.279A4.281,4.281,0,0,1,0,14.936V0Z" transform="translate(40.728 0.043)" fill="%23977841"/><path id="Shape" d="M24.734,12.815c-.728,0-1.2-.546-1.2-1.391V1.391A1.273,1.273,0,0,1,24.779,0h4.082a1.116,1.116,0,0,1,1.067,1.232,1.116,1.116,0,0,1-1.067,1.231H25.93V6.206H28.4a1.137,1.137,0,0,1,1.149,1.215A1.156,1.156,0,0,1,28.4,8.671H25.93v2.753C25.93,12.269,25.46,12.815,24.734,12.815Zm-23.48,0A1.244,1.244,0,0,1,0,11.424V1.391A1.239,1.239,0,0,1,1.3,0H4.262A4.087,4.087,0,0,1,8.542,4.264,4.175,4.175,0,0,1,7.311,7.358,4.206,4.206,0,0,1,4.362,8.5H2.507v2.929A1.244,1.244,0,0,1,1.254,12.815ZM2.507,2.356V6.142H4.213A1.737,1.737,0,0,0,5.936,4.25,1.735,1.735,0,0,0,4.213,2.356ZM15.243,12.779H12.109a1.325,1.325,0,0,1-1.42-1.346V1.382A1.324,1.324,0,0,1,12.074,0h2.987a6.238,6.238,0,0,1,4.683,1.79A6.8,6.8,0,0,1,21.4,6.569a6.231,6.231,0,0,1-1.688,4.518A6.134,6.134,0,0,1,15.243,12.779Zm-1.859-10.3V10.3h1.822c2.12,0,3.385-1.442,3.385-3.856,0-2.521-1.3-3.967-3.565-3.967Z" transform="translate(15.073 29.982)" fill="%23fff"/></g></svg>')
                        )
                    )
                );
            }
            &__title {
                font-weight: 500;
                line-height: 1.75;
                letter-spacing: 0.1px;
                // transition: all 0.5s ease-in-out;
                @include media(
                    (
                        font-size: (
                            all: 16px,
                            768: 14px
                        ),
                        color: (
                            all: #fff,
                            768: $bg-dark
                        )
                    )
                );
            }
        }
    }
    & {
        &__title {
            transform: translateY(250px);
            opacity: 0;
            .tech-doc.is-show & {
                transform: translateY(0px);
                opacity: 1;
                transition: transform 1s $timing, opacity 1s ease;
            }
        }
        &__caption {
            transform: translateY(250px);
            opacity: 0;
            .tech-doc.is-show & {
                transform: translateY(0px);
                opacity: 1;
                transition: transform 1s $timing 0.2s, opacity 1s ease 0.2s;
            }
        }
        &__text {
            transform: translateY(250px);
            opacity: 0;
            .tech-doc.is-show & {
                transform: translateY(0px);
                opacity: 1;
                transition: transform 1s $timing 0.4s, opacity 1s ease 0.4s;
            }
        }
        &__item {
            transform: translateY(250px);
            opacity: 0;
            .tech-doc.is-show & {
                transform: translateY(0px);
                opacity: 1;
                transition: transform 1s $timing 0.6s, opacity 1s ease 0.6s;
            }
        }
    }
}
