mixin page-about()
    main.about 
        .about__s1
            .about__s1__wrapper
                .about__s1__title.ab-s1-t1 
                    span О КОМПАНИИ
                .about__s1__caption.ab-s1-t2 Мы занимаемся только коттеджными лифтами уже 10 лет!
                .about__s1__text.ab-s1-t3 Имея большой опыт в поставке лифтов для коттеджей, сегодня мы способны реализовать практически любое пожелание наших клиентов. Сотни реализованных проектов позволяют нам утверждать, что ожидания клиента при заказе коттеджного лифта в нашей компании, оправдаются на сто процентов.
            .about__s1__arrow 
        .about__s2 
            img(src="static/img/content/page-about/s2.jpg", alt="", width="610" height="440").about__s2__img.ab-s2-t1  
            .about__s2__wrapper
                .about__s2__title.ab-s2-t2  Наш опыт
                .about__s2__caption.ab-s2-t3  Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет. Наша сила – сплав молодости, энергии и опыта.
                a(href="#").about__s2__button.guid__btn--t1.ab-s2-t4 
                    span ТЕХНИЧЕСКАя ДОКУМЕНТАЦИЯ
        .about__s3 
            .about__s3__bg(data-background-image="static/img/content/page-about/bg2.svg").ab-s3-t5
            .about__s3__title.ab-s3-t1 Наши принципы работы
            .about__s3__caption.ab-s3-t2 Компетентность и индивидуальный подход к каждому клиенту
            .about__s3__text.ab-s3-t3 Ваш дом построен, находится в процессе строительства или пока на бумаге – на любом этапе мы готовы прийти на помощь в правильном подборе и проектировании коттеджного лифта.<br>Мы не стремимся продать Вам дорогой лифт, наша цель – подобрать коттеджный лифт, который будет уместен в данной конкретном проекте. 
            a(href="#").about__s3__button.guid__btn--t1.ab-s3-t4
                span ОТПРАВИТЬ ЗАПРОС
        .about__s4
            img(src="static/img/content/page-about/img3.jpg", alt="", width="407", height="543").about__s4__img.ab-s4-t1
            .about__s4__wrapper
                .about__s4__title.ab-s4-t2 Наши партнёры
                .about__s4__text.ab-s4-t3 Мы гордимся многолетним сотрудничеством с ведущими европейскими производителями лифтового оборудования, производственные возможности и опыт которых позволяют нам удовлетворить спрос на лифты для коттеджей во всем диапазоне ценовых предложений.
                .about__s4__item.ab-s4-t4 
                    img(src="static/img/content/page-about/img4.png", alt="").about__s4__item__img
                    .about__s4__item__caption  ОБОРУДОВАНИЕ
                .about__s4__item.ab-s4-t5 
                    img(src="static/img/content/page-about/img5.png", alt="").about__s4__item__img
                    .about__s4__item__caption ТЕХНИЧЕСКОЕ ПРОЕКТИРОВАНИЕ
                a(href="#").about__s4__button.guid__btn--t1.ab-s4-t6 
                    span НАШИ ПРОЕКТЫ 