mixin page-works()
    main.works
        .works__header
            .works__header__title НАШИ РАБОТЫ
            .works__header__categories
                .works__header__categories__item.is-active
                    a(href="#") ALL<span>LINE</span>
                .works__header__categories__item
                    a(href="#") DESIGN<span>LINE</span>
                .works__header__categories__item
                    a(href="#") BASIC<span>LINE</span>
                .works__header__categories__item
                    a(href="#") GLASS<span>LINE</span>
            button.works__header__button.guid__btn--t1
                span ОТПРАВИТЬ ЗАПРОС
        .scroll-indicator
            .scroll-indicator__caret
        .works__wrapper
            a(href="#").works__item
                .works__item__number 01
                .works__item__wrapper
                    .works__item__wrapper__canvas
                        .works__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img1.jpg")
                            .works__item__wrapper__canvas__img__light
                .works__item__title ЛИФТ В ДОМ НА РУБЛЕВКЕ
                .works__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").works__item
                .works__item__number 02
                .works__item__wrapper
                    .works__item__wrapper__canvas
                        .works__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img2.jpg")
                            .works__item__wrapper__canvas__img__light
                .works__item__title ЛИФТ В ДОМ НА РУБЛЕВКЕ
                .works__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").works__item
                .works__item__number 03
                .works__item__wrapper
                    .works__item__wrapper__canvas
                        .works__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img1.jpg")
                            .works__item__wrapper__canvas__img__light
                .works__item__title ЛИФТ В ДОМ НА РУБЛЕВКЕ
                .works__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
            a(href="#").works__item
                .works__item__number 04
                .works__item__wrapper
                    .works__item__wrapper__canvas
                        .works__item__wrapper__canvas__img(data-background-image="static/img/content/page-ideas/img2.jpg")
                            .works__item__wrapper__canvas__img__light
                .works__item__title ЛИФТ В ДОМ НА РУБЛЕВКЕ
                .works__item__desc Опыт работы наших ключевых сотрудников в области поставки лифтов для частного жилья составляет 7 лет.
