mixin page-d-line()
    main.d-line
        .d-line__s1 
            .d-line__s1__wrapper
                .d-line__s1__title 
                    p DESIGN<span>LINE</span>
                .d-line__s1__desc Серия Design Line – это абсолютно индивидуальный лифт, который рождается в результате тщательной проработки каждой детали. Лифты этой серии можно сравнить с пошивом костюма на заказ. Разница лишь в том, что в качестве ателье выступает компания-изготовитель лифта, а вместо индивидуального кроя
                a(href="#").d-line__s1__link.guid__btn--t1 
                    span НАШИ РАБОТЫ
                .d-line__s1__arrow
        .d-line__s2
            .d-line__s2__img(data-background-image="static/img/content/page-d-line/s2__img.jpg")
            .d-line__s2__wrapper
                img(src="static/img/content/page-about/img5.png", alt="").d-line__s2__logo
                .d-line__s2__title Лифты DESIGN Line проектируются и изготавливаются немецкой компанией FIRST Class Liftsystems GmbH
        .d-line__s3
            .d-line__s3__bg1
            .d-line__s3__bg2
            img(src="static/img/content/page-d-line/s3__img.jpg", alt="").d-line__s3__img
        .d-line__s4
            .d-line__s4__wrapper
                .d-line__s4__title ДИЗАЙНЕРСКИЙ лифт - это ВЫГЛЯДИТ ДОРОГО!
                .d-line__s4__text Эта небольшая лифтовая компания обладает огромнейшим опытом в изготовлении индивидуальных лифтов. Так за последние 20 лет было реализовано множество проектов, среди которых есть лифты, по истине, уникальные: лифт-аквариум в Берлине или вращающийся вокруг своей оси лифт в крепости Burg Rabenstein, что в г. Грац (Австрия).
                a(href="#").d-line__s4__link.guid__btn--t1 
                    span НАШИ РАБОТЫ
            .d-line__s4__img(data-background-image="static/img/content/page-d-line/s2__img.jpg")